.toy-card {
    font-size: 1.6rem;
    margin: 2em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(var(--neutral-100));
    padding: 1em 1.5em;
    border-radius: 0.6em;
    box-shadow: 1px 1px 10px rgba(var(--neutral-0), 0.1);
    flex-wrap: wrap;
}

.toy-card div p {
    margin: 0.5em 0;
}

.text-bold {
    font-weight: 600;
}

.details {
    color: rgb(var(--accent-color));
}

@media only screen and (max-width: 870px) {
    .toy-card {
        flex-direction: column;
    }

    .toy-card div {
        margin: 1.3em 0;
    }
}